<div id="sidebar_menu" (click)="toggle()" [ngClass]="activ?'mobile_menu':'mobile_menu active'" >
  <button class="btn btn-radius btn-sm btn-secondary toggle-sidebar"><i class="fas fa-angle-left mr-2"></i>Close
    menu</button>
  <div class="sb-setting">
    <div class="header-setting">
      <div class="hs-toggles">
        <a href="#" class="hst-item" data-toggle="tooltip"
           data-original-title="Select Anime List">
          <div class="hst-icon"><i class="fas fa-list"></i></div>
          <div class="name"><span>Anime</span></div>
        </a>
        <a href="#" class="hst-item" data-toggle="tooltip"
           data-original-title="Popular Anime List">
          <div class="hst-icon"><i class="fas fa-star"></i></div>
          <div class="name"><span>Popular</span></div>
        </a>
        <a href="#" rel="nofollow" class="hst-item" data-toggle="tooltip"
           data-original-title="Select Random Anime">
          <div class="hst-icon"><i class="fas fa-random"></i></div>
          <div class="name"><span>Random</span></div>
        </a>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
<app-header-sidenav></app-header-sidenav>
  <div class="clearfix"></div>
</div>
<div id="header" class="header-home ">
  <div class="container2" style="max-width:100%!important;width:100%!important;padding-top:0px!important;">
    <div id="mobile_menu" (click)="toggle()" [ngClass]="activ?'mobile_menu':'mobile_menu active'" style="padding-left: 20px; padding-right:20px; "><i class="fa fa-bars"></i></div>
    <a href="#" id="logo" title="Anikatsu">
      <img src="/assets/files/images/logo.png" width="100%" height="auto" alt="logo">
      <div class="clearfix"></div>
    </a>
    <div id="search">
      <div class="search-content">
        <form action="" autocomplete="off">
          <input type="text" class="form-control search-input" name="keyword" id="searching" [(ngModel)]="searchData" (keyup.enter)="search()"
                 placeholder="Search anime..." required>
          <button type="submit"  (click)="search()" class="search-icon"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
    <div class="header-group">
      <div class="zoro-group">
        <div class="zrg-title"><span class="top">Join now</span><span class="bottom">
                        Anikatsu Groups
                    </span></div>
        <div class="zrg-list">
          <div class="item"><a target="_blank" href="#"
                               class="zr-social-button tl-btn"><i class="fas fa-donate"></i></a></div>
          <div class="item"><a href="#" target="_blank" class="zr-social-button dc-btn"><i
            class="fab fa-telegram"></i></a></div>
          <div class="item"><a href="#" target="_blank" class="zr-social-button dc-btn"><i
            class="fab fa-discord"></i></a></div>
          <div class="item"><a href="#" target="_blank" class="zr-social-button rd-btn"><i
            class="fab fa-reddit-alien"></i></a></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="header-setting">
      <div class="hs-toggles">
        <a href="/anime" class="hst-item" data-toggle="tooltip"
           data-original-title="Select Anime List">
          <div class="hst-icon"><i class="fas fa-list"></i></div>
          <div class="name"><span>Anime</span></div>
        </a>
        <a href="/tv" class="hst-item" data-toggle="tooltip"
           data-original-title="Popular Anime List">
          <div class="hst-icon"><i class="fas fa-star"></i></div>
          <div class="name"><span>Tv-Shows</span></div>
        </a>
        <a href="/movies" class="hst-item" data-toggle="tooltip"
           data-original-title="Anime Movies">
          <div class="hst-icon"><i class="fas fa-film"></i></div>
          <div class="name"><span>Movie</span></div>
        </a>
        <a href="/blog" class="hst-item" data-toggle="tooltip"
           data-original-title="Select Random Anime">
          <div class="hst-icon"><i class="fas fa-random"></i></div>
          <div class="name"><span>Blog</span></div>
        </a>
        <a href="/our-movies" class="hst-item" data-toggle="tooltip"
           data-original-title="Select Random Anime">
          <div class="hst-icon"><i class="fas fa-camera"></i></div>
          <div class="name"><span>Our Movies</span></div>
        </a>
        <div class="clearfix"></div>
      </div>
    </div>
  <div id="pick_menu">
      <div class="pick_menu-ul">
        <ul class="ulclear">
          <li class="pmu-item pmu-item-home">
            <a class="pmu-item-icon" href="#" title="Home">
              <img src="assets/files/images/pick-home.svg" data-toggle="tooltip" data-placement="right" title=""
                   data-original-title="Home">
            </a>
          </li>
          <li class="pmu-item pmu-item-movies">
            <a class="pmu-item-icon" href="#" title="Movies">
              <img src="/assets/files/images/pick-movies.svg" data-toggle="tooltip" data-placement="right"
                   title="" data-original-title="Movies">
            </a>
          </li>
          <li class="pmu-item pmu-item-show">
            <a class="pmu-item-icon" href="#" title="TV Series">
              <img src="assets/files/images/pick-show.svg" data-toggle="tooltip" data-placement="right" title=""
                   data-original-title="TV Series">
            </a>
          </li>
          <li class="pmu-item pmu-item-popular">
            <a class="pmu-item-icon" href="#" title="Most Popular">
              <img src="assets/files/images/pick-popular.svg" data-toggle="tooltip" data-placement="right"
                   title="" data-original-title="Most Popular">
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div id="header_right" >
      <div id="user-slot">
        <div class="header_right-user logged">
          <div (click)="toggleUser()" *ngIf="username!=null" [ngClass]="activUserdrop?'dropdown':'dropdown show'">
            <div class="btn-user-avatar" data-toggle="dropdown" aria-expanded="false"
                 aria-controls="user_menu">
              <div class="profile-avatar">
            <img src="/assets/files/avatar/user-1.jpeg" alt="user">
              </div>
            </div>
            <div id="user_menu" [ngClass]="activUserdrop?'dropdown-menu dropdown-menu-right':'dropdown-menu dropdown-menu-right show'">
              <div class="dropdown-item dropdown-item-user">
                <div class="user-detail">
                  <div class="name"><strong>
                    {{username}}
                  </strong></div>
                  <div class="mail"><a class="__cf_email__">
                    {{username}}
                  </a>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="grid-menu">
                <a class="dropdown-item" (click)="goToUserProfile()"><i
                  class="fas fa-user mr-2"></i>Profile</a>
                <a class="dropdown-item" (click)="goToUserProfile()"><i
                  class="fas fa-heart mr-2"></i>Watch List</a>
                <a class="dropdown-item" (click)="goToUserProfile()"><i
                  class="fas fa-cog mr-2"></i>Change
                  Password</a>
                <div class="clearfix"></div>
              </div>
              <a class="dropdown-item text-right text-white" (click)="logout()">Logout<i
                class="fas fa-arrow-right ml-2 mr-1"></i></a>
            </div>
          </div>
        </div>
        <div class="header_right-user" *ngIf="username==null">
          <a href="/login" class="btn-user btn btn-sm btn-primary btn-login">
            <i class="fa-solid fa-user"></i>Login</a>
        </div>
      </div>
    </div>



    <div id="mobile_search" class=""><i class="fa fa-search"></i></div>
    <div class="clearfix"></div>
  </div>
</div>
