<div id="main-wrapper" >
  <div id="ani_detail">
    <div class="ani_detail-stage">
      <div class="container2">
        <div class="anis-cover-wrap">
          <div class="anis-cover" [style.background-image]="'url(' + anime?.animeImg + ')'"></div>
        </div>
        <div class="anis-content">
          <div class="anisc-poster">
            <div class="film-poster">
              <img
                   src="{{anime?.animeImg}}"
                   class="lazyload film-poster-img">
            </div>
          </div>
          <div class="anisc-detail">
            <div class="prebreadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li itemprop="itemListElement" itemscope=""
                      itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a itemprop="item" href="/"><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="1">
                  </li>
                  <li itemprop="itemListElement" itemscope=""
                      itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a itemprop="item" href="/anime"><span itemprop="name">Anime</span></a>
                    <meta itemprop="position" content="2">
                  </li>
                  <li itemprop="itemListElement" itemscope=""
                      itemtype="http://schema.org/ListItem"
                      class="breadcrumb-item dynamic-name"
                      aria-current="page">
                    <a itemprop="item" href="/anime/<?=$url?>"><span itemprop="name">{{anime?.animeTitle}}</span></a>
                    <meta itemprop="position" content="3">
                  </li>
                </ol>
              </nav>
            </div>
            <h2 class="film-name dynamic-name" >{{anime?.animeTitle}}</h2>
            <div class="film-stats">
              <div class="tac tick-item tick-quality">HD</div>
              <div class="tac tick-item tick-dub">
                SUB & DUB
              </div>
              <span class="dot"></span>
              <span class="item">{{anime?.type}}</span>
              <div class="clearfix"></div>
            </div>

            <div class="film-buttons">
              <a *ngFor="let ani of episodesList | slice:0:1; let i = index;" href="/watch/{{ani.episodeId}}" class="btn btn-radius btn-primary btn-play"><i
                class="fas fa-play mr-2"></i>Watch now</a>
                <div class="dr-fav" id="watch-list-content">

                 <!-- <?php if(isset($_COOKIE['userID'])){?>
                  <?php
                                             $watchLater = mysqli_query($conn, "SELECT * FROM `watch_later` WHERE (user_id,anime_id) = ('$user_id','$url')");
                                             $watchLater = mysqli_fetch_assoc($watchLater);
                                             if(isset($watchLater['anime_id'])){
                                             $anime_id = $watchLater['anime_id'];
                                             }else{
                                                $anime_id = null;
                                             }
                                             if($anime_id == null){ ?>-->
                  <a id="addToList" class="btn btn-radius btn-light"
                     href="#">&nbsp;<i class='fas fa-plus mr-2'></i> Add to
                    List&nbsp;</a>
                 <!-- <script>
                    let btn = document.querySelector('#addToList');
                    btn.addEventListener("click", () => {
                      let btnValue = btn.getAttribute('animeId');
                      $.post('../user/ajax/watchlist.php', {
                        btnValue: btnValue
                      }, (response) => {
                        btn.innerHTML = response;

                      });
                    });
                  </script>
                  <?php }elseif($anime_id == $url){ ?>
                  <a id="addToList" class="btn btn-radius btn-light"
                     animeId="<?=$url?>">&nbsp;<i class='fas fa-minus mr-2'></i> Remove From
                    List&nbsp;</a>
                  <script>
                    let btn = document.querySelector('#addToList');
                    btn.addEventListener("click", () => {
                      let btnValue = btn.getAttribute('animeId');
                      $.post('../user/ajax/watchlist.php', {
                        btnValue: btnValue
                      }, (response) => {
                        btn.innerHTML = response;

                      });
                    });
                  </script>
                  <?php }?>
                  <?php } ?>-->



                  <!--<?php if(!isset($_COOKIE['userID'])){?>-->
                  <a href="/user/login?animeId=<?=$url?>"
                     class="btn btn-radius btn-light">&nbsp;<i
                    class='fas fa-plus mr-2'></i>&nbsp;Login to Add&nbsp;</a>
                 <!-- <?php } ?>-->
                </div>
              <div class="film-description m-hide">
                <div class="text">{{anime?.synopsis}}</div>
              </div>
              <div class="film-text m-hide">Anikatsu is a site to watch online anime like <strong>{{anime?.animeTitle}}</strong> online, or you can even watch <strong>{{anime?.animeTitle}}</strong> in HD quality</div>
              <div class="share-buttons share-buttons-min mt-3">
                <div class="share-buttons-block" style="padding-bottom: 0 !important;">
                  <div class="share-icon"></div>
                  <div class="sbb-title">
                    <span>Share Anime</span>
                    <p class="mb-0">to your friends</p>
                  </div>
                  <div class="addthis_inline_share_toolbox"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="anisc-info-wrap">
              <div class="anisc-info">
                <div class="item item-title w-hide">
                  <span class="item-head">Overview:</span>
                  <div class="text">{{anime?.synopsis}}</div>
                </div>
                <div class="item item-title">
                  <span class="item-head">Other names:</span> <span class="name">{{anime?.otherNames}}</span>
                </div>
                <div class="item item-title">
                  <span class="item-head">Language:</span>
                  <span class="name">
                    SUB & DUB</span>
                </div>
                <div class="item item-title">
                  <span class="item-head">Episodes:</span> <span class="name">{{anime?.totalEpisodes}}</span>
                </div>
                <div class="item item-title">
                  <span class="item-head">Release Year:</span> <span class="name">{{anime?.releasedDate}}</span>
                </div>
                <div class="item item-title">
                  <span class="item-head">Type:</span> <span class="name">{{anime?.type}}</span>
                </div>
                <div class="item item-title">
                  <span class="item-head">Status:</span> <a href="/status/completed">{{anime?.status}}</a>
                 <!-- <span class="item-head">Status:</span> <a href="<?php if ($getAnime['status'] == "Completed") {echo "/status/completed";} else {echo "/status/ongoing";}?>"><?=$getAnime['status']?></a>-->
                </div>
                <div class="item item-list">
                  <span class="item-head">Genres:</span>
                  <a *ngFor="let gen of genres; let i = index;" href="/genre/{{gen}}">{{gen}}</a>
                </div>
                <div class="film-text w-hide">Anikatsu is a site to watch online anime like <strong>{{anime?.animeTitle}}</strong> online, or you can even watch <strong>{{anime?.animeTitle}}</strong> in HD quality</div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    <div class="container2">
      <div id="main-content">


        <app-recent-releases></app-recent-releases>
        <div class="clearfix"></div>
      </div>
      <app-sidenav></app-sidenav>
      <div class="clearfix"></div>
    </div>
</div>
</div>
</div>
<script type="text/javascript">
  $(".btn-server").click(function () {
    $(".btn-server").removeClass("active");
    $(this).closest(".btn-server").addClass("active");
  });
</script>
<script type="text/javascript">
  if ('<?= $likeClass ?>' === 'fas') {
    document.getElementById('likeMsg').innerHTML = "Liked"
  }
  if ('<?= $dislikeClass ?>' === 'fas') {
    document.getElementById('dislikeMsg').innerHTML = "Disliked"
  }

  function setLikeDislike(type, id) {
    jQuery.ajax({
      url: '<?= $websiteUrl ?>/setLikeDislike.php',
      type: 'post',
      data: 'type=' + type + '&id=' + id,
      success: function (result) {
        result = jQuery.parseJSON(result);
        if (result.opertion == 'like') {
          jQuery('#like').removeClass('far');
          jQuery('#like').addClass('fas');
          jQuery('#dislike').addClass('far');
          jQuery('#dislike').removeClass('fas');
          jQuery('#likeMsg').html("Liked")
          jQuery('#dislikeMsg').html("Dislike")
        }
        if (result.opertion == 'unlike') {
          jQuery('#like').addClass('far');
          jQuery('#like').removeClass('fas');
          jQuery('#likeMsg').html("Like")
        }

        if (result.opertion == 'dislike') {
          jQuery('#dislike').removeClass('far');
          jQuery('#dislike').addClass('fas');
          jQuery('#like').addClass('far');
          jQuery('#like').removeClass('fas');
          jQuery('#dislikeMsg').html("Disliked")
          jQuery('#likeMsg').html("Like")
        }
        if (result.opertion == 'undislike') {
          jQuery('#dislike').addClass('far');
          jQuery('#dislike').removeClass('fas');
          jQuery('#dislikeMsg').html("Dislike")
        }


        jQuery('#votedCount').html(
          `(${parseInt(result.like_count) + parseInt(result.dislike_count)} Voted)`
        );
        jQuery('#ratingAnime').html(((parseInt(result.like_count) *
          10 + parseInt(result.dislike_count) * 5) / (
          parseInt(result.like_count) + parseInt(
            result.dislike_count))).toFixed(2));
      }

    });
  }
</script>
