<div class="swiper-slide">
  <div class="item">
    <div class="number">
      <span>1</span>
      <div class="film-title dynamic-name" data-jname="<?=$popular['animeTitle']?>">
        animeTitle
      </div>
    </div>
    <a href="/anime/<?=$popular['animeId']?>" class="film-poster"
       title="<?=$popular['animeTitle']?>">
      <img data-src="<?=$popular['imgUrl']?>"
           src="https://anikatsu.me/files/images/no_poster.jpg"
           class="film-poster-img lazyload" alt="<?=$popular['animeTitle']?>">
    </a>
    <div class="clearfix"></div>
  </div>
</div>
