<section class="block_area block_area_home">
  <div class="block_area-header">
    <div class="float-left bah-heading mr-4">
      <h2 class="cat-heading">Latest Subbed</h2>
    </div>
    <div class="float-right viewmore">
      <a class="btn" href="/latest/subbed">View more<i
        class="fas fa-angle-right ml-2"></i></a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="tab-content">
    <div class="block_area-content block_area-list film_list film_list-grid">
      <div class="film_list-wrap">
        <div class="flw-item" *ngFor="let ani of animes | slice:0:20; let i = index;">
          <div class="film-poster">
            <div class="tick ltr">
              <div class="tick-item-sub  tick-eps amp-algn">
               {{ani.subOrDub}} </div>
            </div>
            <div class="tick rtl">
              <div class="tick-item tick-eps amp-algn">Episode
                {{ani.episodeNum}}</div>
            </div>
            <img class="film-poster-img lazyload"
                 src="{{ani.imgUrl}}" alt="{{ani.name}}">
            <a class="film-poster-ahref" href="/watch/{{ani.episodeId}}"
               title="{{ani.name}}"
               ><i class="fas fa-play"></i></a>
          </div>
          <div class="film-detail">
            <h3 class="film-name">
              <a href="/watch/{{ani.episodeId}}"
                 title="{{ani.name}}"
                 >{{ani.name}}</a>
            </h3>
            <div class="fd-infor">
              <span class="fdi-item">Latest</span>
              <span class="dot"></span>
              <span class="fdi-item">{{ani.subOrDub}}</span>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
