<div class="container2" style="max-width:100%!important;width:100%!important;">
  <div class="anif-blocks">
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="anif-block anif-block-01">
          <div class="anif-block-header">Fall</div>
          <div class="anif-block-ul">
            <ul class="ulclear">
              <li *ngFor="let ani of fallanimes | slice:0:5; let i = index;">
                <div *ngIf="i<6">
                  <div class="film-poster" >
                    <img class="film-poster-img ls-is-cached lazyloaded"
                         alt="{{ani.animeTitle}}"
                         src="{{ani.animeImg}}"
                         title="{{ani.animeTitle}}">
                  </div>
                  <div class="film-detail">
                    <h3 class="film-name">
                      <a class="dynamic-name"
                         href="/anime/{{ani.animeId}}"
                         title="{{ani.animeTitle}}"
                      >{{ani.animeTitle}}</a>
                    </h3>
                    <div class="fd-infor">
                      <span class="fdi-item">Fall {{year}} </span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="more"><a href="/sub-category/fall-{{year}}-anime">View more <i
            class="fas fa-angle-right ml-2"></i></a></div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="anif-block anif-block-01">
          <div class="anif-block-header">Summer</div>
          <div class="anif-block-ul">
            <ul class="ulclear">
              <li *ngFor="let ani of summeranimes | slice:0:5; let i = index;">
                  <div class="film-poster" >
                    <img class="film-poster-img ls-is-cached lazyloaded"
                         alt="{{ani.animeTitle}}"
                         src="{{ani.animeImg}}"
                         title="{{ani.animeTitle}}">
                  </div>
                  <div class="film-detail">
                    <h3 class="film-name">
                      <a class="dynamic-name"
                         href="/anime/{{ani.animeId}}"
                         title="{{ani.animeTitle}}"
                      >{{ani.animeTitle}}</a>
                    </h3>
                    <div class="fd-infor">
                      <span class="fdi-item">Summer {{year}} </span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="more"><a href="/sub-category/summer-{{year}}-anime">View more <i
            class="fas fa-angle-right ml-2"></i></a></div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="anif-block anif-block-04">
          <div class="anif-block-header">Spring</div>
          <div class="anif-block-ul">
            <ul class="ulclear">
              <li *ngFor="let ani of springanimes | slice:0:5; let i = index;">
                <div *ngIf="i<6">
                <div class="film-poster" >
                  <img class="film-poster-img ls-is-cached lazyloaded"
                       alt="{{ani.animeTitle}}"
                       src="{{ani.animeImg}}"
                       title="{{ani.animeTitle}}">
                </div>
                <div class="film-detail">
                  <h3 class="film-name">
                    <a class="dynamic-name"
                       href="/anime/{{ani.animeId}}"
                       title="{{ani.animeTitle}}"
                      >{{ani.animeTitle}}</a>
                  </h3>
                  <div class="fd-infor">
                    <span class="fdi-item">Spring {{year}} </span>
                  </div>
                </div>
                <div class="clearfix"></div>
                  </div>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="more">
            <a href="/sub-category/spring-{{year}}}-anime">View more <i
              class="fas fa-angle-right ml-2"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="anif-block anif-block-01">
          <div class="anif-block-header">Winter</div>
          <div class="anif-block-ul">
            <ul class="ulclear">
              <li *ngFor="let ani of winteranimes | slice:0:5; let i = index;">
                <div *ngIf="i<6">
                  <div class="film-poster" >
                    <img class="film-poster-img ls-is-cached lazyloaded"
                         alt="{{ani.animeTitle}}"
                         src="{{ani.animeImg}}"
                         title="{{ani.animeTitle}}">
                  </div>
                  <div class="film-detail">
                    <h3 class="film-name">
                      <a class="dynamic-name"
                         href="/anime/{{ani.animeId}}"
                         title="{{ani.animeTitle}}"
                      >{{ani.animeTitle}}</a>
                    </h3>
                    <div class="fd-infor">
                      <span class="fdi-item">Winter {{year}} </span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="more"><a href="/sub-category/winter-{{year}}-anime">View more <i
            class="fas fa-angle-right ml-2"></i></a></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
