<div id="main-wrapper" class="layout-page layout-profile">
  <div class="profile-header">
    <div class="profile-header-cover"
         style="background-image: url('/assets/files/avatar/user-1.jpeg');"></div>
    <div class="container2">
      <div class="ph-title">{{name}}</div>
      <div class="ph-tabs">
        <div class="bah-tabs">
          <ul class="nav nav-tabs pre-tabs">
            <li class="nav-item"><a class="nav-link active" href="/me"><i
              class="fas fa-user mr-2"></i>Profile</a></li>
            <li class="nav-item"><a class="nav-link " href="/user/watchlist"><i class="fas fa-heart mr-2"></i>Watch
              List</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/changepass"><i class="fas fa-key mr-2"></i>Change
              Password</a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="profile-content">
    <div class="container2">
      <div class="profile-box profile-box-account makeup">
        <h2 class="h2-heading mb-4"><i class="fas fa-user mr-3"></i>Your Profile</h2>
        <div class="block_area-content">
          <div class="show-profile-avatar text-center mb-3">
            <div class="profile-avatar d-inline-block" data-toggle="modal" data-target="#modalavatars">
            <img src="/assets/files/avatar/user-12.jpeg" alt="user">
            </div>
          </div>
          <form class="preform" [formGroup]="reactiveFrom" (ngSubmit)="onSubmit()"  >
            <input type="hidden" name="avatar_id" value="1">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12">
                  <label class="prelabel" for="pro5-email">Email address</label>
                  <input type="email" name="email" class="form-control"  id="pro5-email"
                         formControlName="email">
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12">
                  <label class="prelabel" for="pro5-name">Username</label>
                  <input type="text" class="form-control"  id="pro5-name" name="name" required formControlName="name"
                         >
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12">
                  <label class="prelabel" for="pro5-join">Joined</label>
                  <input type="text" class="form-control"  id="pro5-join" formControlName="created">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="container">
    <div>
      Welcome <b>{{name}}</b>.<br /> You have posted <b>{{postLength}}</b> time(s) and commented
      <b>{{commentLength}}</b> time(s).
      You can check your post and comment history below.
    </div>
    <hr />
    <div>
      Your Posts:
    </div>
    <app-post-tile [posts]="posts"></app-post-tile>
    <hr />
    <div>
      Your Comments:
    </div>
    <div *ngFor="let comment of comments">
      <div class="comment">
        <div class="username">
          <a routerLink="/user/comment.username">{{comment.username}}</a>
        </div>
        <div>
          <p>{{comment.duration}}</p>
        </div>
        <b>{{comment.text}}</b>
      </div>
      <hr />
    </div>
  </div>
</div>

