<div class="admin-section">
  <h1>Admin Section</h1>
  <h3>Users</h3>
  <table mat-table [dataSource]="users" class="user-table">
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> User ID </th>
      <td mat-cell *matCellDef="let user"> {{ user.userId }} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let user"> {{ toDateTime(user.created) }} </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let user">   <button (click)="deleteUser(user.userId)" class="delete-button">Delete User</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let user; columns: tableColumns;"></tr>
  </table>
  <h3>Comments</h3>

  <table mat-table [dataSource]="comments" class="comment-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let comment"> {{ comment.id }} </td>
    </ng-container>

    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef> Text </th>
      <td mat-cell *matCellDef="let comment"> {{ comment.text }} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let comment"> {{ comment.createdDate }} </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> User </th>
      <td mat-cell *matCellDef="let comment"> {{ comment.userName }} </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let comment"> <button (click)="deleteComment(comment.id)" class="delete-button">Delete Comment</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns2"></tr>
    <tr mat-row *matRowDef="let comment; columns: tableColumns2;"></tr>
  </table>
  <h3>Posts</h3>
  <table mat-table [dataSource]="posts" class="post-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let post"> {{ post.id }} </td>
    </ng-container>

    <ng-container matColumnDef="postName">
      <th mat-header-cell *matHeaderCellDef> Post Name </th>
      <td mat-cell *matCellDef="let post"> {{ post.postName }} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> User Name </th>
      <td mat-cell *matCellDef="let post"> {{ post.userName }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let post"> {{ post.description }} </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let post">  <button (click)="deletePost(post.id)" class="delete-button">Delete Post</button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableColumns3"></tr>
    <tr mat-row *matRowDef="let post; columns: tableColumns3;"></tr>
  </table>

  <h3>Our Movies</h3>
  <table mat-table [dataSource]="movies" class="post-table">
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> url </th>
      <td mat-cell *matCellDef="let our"> {{ our.url }} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let post"> {{ post.title }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let post"> {{ post.description }} </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let movie">  <button (click)="deletePost(movie.id)" class="delete-button">Delete Movie</button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableColumns4"></tr>
    <tr mat-row *matRowDef="let post; columns: tableColumns4;"></tr>
  </table>
</div>
