<li class="nav-item">
  <div class="nav-link" title="Types"><strong><i class="fa fa-angle-down"></i> Types</strong></div>
  <div class="sidebar_menu-sub show" id="sidebar_subs_types">
    <ul class="nav sub-menu color-list">
      <li class="nav-item"><a class="nav-link" href="<?= $websiteUrl ?>/type/movies"
                              title="Movies">Movies</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="<?= $websiteUrl ?>/type/tv-series" title="TV Series">TV
        Series</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="<?= $websiteUrl ?>/sub-category/ova"
                              title="OVA">OVA</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="<?= $websiteUrl ?>/sub-category/ona"
                              title="ONAs">ONA</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="<?= $websiteUrl ?>/sub-category/special"
                              title="Special">Special</a>
      </li>
    </ul>
  </div>
</li>
