

  <app-sidebar></app-sidebar>
  <app-trending></app-trending>
  <div class="share-buttons share-buttons-home">
    <div class="container2">
      <script type="text/javascript"
              src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-63430163bc99824a"></script>
      <div class="share-buttons-block">
        <div class="share-icon"></div>
        <div class="sbb-title">
          <span>Share Anikatsu</span>
          <p class="mb-0">to your friends</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <app-anime-featured></app-anime-featured>
  <div class="clearfix"></div>

  <div id="main-wrapper">
    <div class="container2">
      <div id="main-content">
        <app-latest-sub></app-latest-sub>
        <app-latest-dub></app-latest-dub>
        <div class="clearfix"></div>
      </div>
      <app-sidenav></app-sidenav>
      <div class="clearfix"></div>
    </div>
  </div>


